<nav class="navbar">
  <div class="container">
    <div class="grid">
      <div class="col-12">
        <a href="javascript:;" class="navbar-toogle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>

    <ul class="navbar-menu" [hidden] ="!exibindoMenu" >
      <li class="navbar-usuario">{{ usuarioLogado }}</li>
      <li class="navbar-menuitem" *ngIf="temPermissao('ROLE_PESQUISAR_LANCAMENTO')" routerLinkActive="ativo"><a routerLink="lancamentos">Lancamentos</a> </li>
      <li class="navbar-menuitem" *ngIf="temPermissao('ROLE_PESQUISAR_PESSOA')" routerLinkActive="ativo"><a routerLink="pessoas">Pessoas</a></li>
      <li class="navbar-menuitem" ><a href="#" (click)="logout()">Loggout</a></li>
    </ul>
  </div>
</nav>
